body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #eff0f1;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header .header__logo {
    font-size: 1.4rem;
    color: #5e92c1;
    margin: 0;
    text-transform: uppercase;
}
.header .header__logo .header__logo--highlight {
    color: #5788b3;
    font-weight:500;
}
.container {
    margin-bottom:50px;
}
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px 0;
}
.form-section form {
    display: flex;
    width: 100%;
    max-width: 800px;
    background: #ffffff;
    overflow: hidden;
}
.form-section input {
    border: none;
    padding: 12px 20px;
    width: 100%;
    font-size: 1rem;
    outline: none;
    border-radius: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
}
.form-section input.form__input {
    border-radius: 4px;
    border: 1px solid #dadce0;
    margin: 0;
    padding: 0 20px; 
}
input[type=text].form__input:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #dadce0;
    box-shadow: none;
}
.form-section button {
    border: none;
    background-color: #5e92c1;
    box-shadow: none;
    color: #ffffff;
    height: 3rem;
    border-radius: 4px;
    font-weight: 500;
    padding: 0 20px;
    margin-left:20px;
    font-size: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.form-section button:focus {
    background-color: #4e7aa1;
}
.form-section button:hover {
    background-color: #4e7aa1;
    box-shadow: none
}
.form-section .material-icons {
    margin-left: 10px;
}
.card {
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 20px;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-content {
    padding: 20px;
}
.summary.results {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    margin-bottom:50px;
}
.summary .summary__item {
    font-size: 1.4rem;
}
.summary .summary__value {
    font-size: 2.8rem;
}
.summary .summary__label {
    border-left: 2px solid #5e92c1;
    padding: 10px 0 0 30px;
    border-left-style: solid;
    border-left-width: 2px;
}
.summary .summary__item--tests .summary__label {
    border-color: #5e92c1;
    color: #5e92c1;
}
.summary .summary__item--passed .summary__label {
    border-color: #56b794;
    color: #56b794;
}
.summary .summary__item--failed .summary__label {
    border-color: #9f1b1e;
    color: #9f1b1e;
}
.summary .summary__item--violations .summary__label {
    border-color: #e79e26;
    color: #e79e26;
}
.accordion {
    margin: 0 auto;
}
.accordion__header {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    padding:0;
}
.accordion__content {
    display: none;
    background-color: transparent;
}
.accordion__item button:focus {
    background-color: transparent;
}
.results {
    margin: 15px 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.results a {
    color: #5e92c1;
    text-decoration: none;
}
.results a:hover {
    text-decoration: underline;
}
.results span {
    font-weight: 500;
}
.criticality {
    border-radius: 2px;
    width: 14px;
    height: 16px;
    margin-right: 10px;
}
.criticality__label {
    font-size: 14px;
    border-radius: 2px;
    margin-left: 10px;
    color: #fff;
    padding: 2px 8px;
    text-align: center; 
}
.criticality--critical {
    background-color: #9f1b1e; 
}
.criticality--serious {
    background-color: #ba5a24; 
}
.criticality--moderate {
    background-color: #e79e26; 
}
.criticality--minor {
    background-color: #c3c2ae; 
}
.issue-description {
    margin: 15px 0 30px 0;
}
.issue-description.critical {
    color: #9f1b1e; 
}
.issue-description.serious {
    color: #ba5a24; 
}
.issue-description.moderate {
    color: #e79e26; 
}
.issue-description.minor {
    color: #c3c2ae; 
}
.table {
    display: table;
    border:1px solid #f9f9f9;
    border-radius: 4px;
    width: 100%;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 12px 15px;
}
.row:nth-child(odd) .cell {
    background-color: #f0f6fb;
}
.row:nth-child(even) .cell {
    background-color: #fff;
}
.summary--hidden,
.card--hidden {
    display: none;
}
.card--no-errors {
    background-color: #71aa69;
    color: #fff;
    font-size: 16px;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
}
.card--errors {
    background-color: #9f1b1e;
    color: #fff;
    font-size: 18px;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
}
.card--errors .server--error {
    color: #a5a5a5;
    margin-top: 10px;
    font-size: 16px;
}
.spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spinner .spinner__animation {
    height: 15px;
    aspect-ratio: 5;
    display: flex;
    justify-content: space-between;
    --_g: no-repeat radial-gradient(farthest-side,#5e92c1 95%,#0000);
    background: var(--_g),var(--_g);
    background-size: 20% 100%;
    animation: l42-0 1s infinite;
}
.spinner .spinner__animation:before,
.spinner .spinner__animation:after {
    content: "";
    height: inherit;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #5e92c1;
    animation: l42-1 1s infinite; 
}
.spinner .spinner__animation:after {
    --s:-1,-1;
}
@keyframes l42-0 {
    0%,
    60%  {background-position: calc(1*100%/3) 0, calc(2*100%/3) 0}
    100% {background-position: calc(0*100%/3) 0, calc(3*100%/3) 0}
}
@keyframes l42-1 {
    0%   {transform: scale(var(--s,1)) translate(0           ,0)}
    33%  {transform: scale(var(--s,1)) translate(0           ,130%)}
    66%  {transform: scale(var(--s,1)) translate(calc(400%/3),130%)}
    100% {transform: scale(var(--s,1)) translate(calc(400%/3),0)}
}

